<%= form_for(enemy) do |f| %>
  <% if enemy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enemy.errors.count, "error") %> prohibited this enemy from being saved:</h2>

      <ul>
      <% enemy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name.string %>
    <%= f.text_field :name.string %>
  </div>

  <div class="field">
    <%= f.label :power.integer %>
    <%= f.text_field :power.integer %>
  </div>

  <div class="field">
    <%= f.label :health.integer %>
    <%= f.text_field :health.integer %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
