<p id="notice"><%= notice %></p>

<p>
  <strong>Name.string:</strong>
  <%= @enemy.name.string %>
</p>

<p>
  <strong>Power.integer:</strong>
  <%= @enemy.power.integer %>
</p>

<p>
  <strong>Health.integer:</strong>
  <%= @enemy.health.integer %>
</p>

<%= link_to 'Edit', edit_enemy_path(@enemy) %> |
<%= link_to 'Back', enemies_path %>
