<%= form_for(shop_item) do |f| %>
  <% if shop_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shop_item.errors.count, "error") %> prohibited this shop_item from being saved:</h2>

      <ul>
      <% shop_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>

  <div class="field">
    <%= f.label :mainstat %>
    <%= f.number_field :mainstat %>
  </div>

  <div class="field">
    <%= f.label :secondarystat %>
    <%= f.number_field :secondarystat %>
  </div>

  <div class="field">
    <%= f.label :mainstat_name %>
    <%= f.text_field :mainstat_name %>
  </div>

  <div class="field">
    <%= f.label :secondarystat_name %>
    <%= f.text_field :secondarystat_name %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
