<p id="notice"><%= notice %></p>

<h1>Potions</h1>

<table>
  <thead>
    <tr>
      <th>Bonus power.integer</th>
      <th>Bonus health.integer</th>
      <th>Owner.string</th>
      <th>Used.integer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @potions.each do |potion| %>
      <tr>
        <td><%= potion.bonus_power.integer %></td>
        <td><%= potion.bonus_health.integer %></td>
        <td><%= potion.owner.string %></td>
        <td><%= potion.used.integer %></td>
        <td><%= link_to 'Show', potion %></td>
        <td><%= link_to 'Edit', edit_potion_path(potion) %></td>
        <td><%= link_to 'Destroy', potion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Potion', new_potion_path %>
