<p id="notice"><%= notice %></p>

<p>
  <strong>Bonus power.integer:</strong>
  <%= @potion.bonus_power.integer %>
</p>

<p>
  <strong>Bonus health.integer:</strong>
  <%= @potion.bonus_health.integer %>
</p>

<p>
  <strong>Owner.string:</strong>
  <%= @potion.owner.string %>
</p>

<p>
  <strong>Used.integer:</strong>
  <%= @potion.used.integer %>
</p>

<%= link_to 'Edit', edit_potion_path(@potion) %> |
<%= link_to 'Back', potions_path %>
