<%= form_for(gadget) do |f| %>
  <% if gadget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gadget.errors.count, "error") %> prohibited this gadget from being saved:</h2>

      <ul>
      <% gadget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name.string %>
    <%= f.text_field :name.string %>
  </div>

  <div class="field">
    <%= f.label :owner.string %>
    <%= f.text_field :owner.string %>
  </div>

  <div class="field">
    <%= f.label :bonus_health.integer %>
    <%= f.text_field :bonus_health.integer %>
  </div>

  <div class="field">
    <%= f.label :bonus_power.integer %>
    <%= f.text_field :bonus_power.integer %>
  </div>

  <div class="field">
    <%= f.label :equipped.integer %>
    <%= f.text_field :equipped.integer %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
