<p id="notice"><%= notice %></p>

<h1>Gadgets</h1>

<table>
  <thead>
    <tr>
      <th>Name.string</th>
      <th>Owner.string</th>
      <th>Bonus health.integer</th>
      <th>Bonus power.integer</th>
      <th>Equipped.integer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gadgets.each do |gadget| %>
      <tr>
        <td><%= gadget.name.string %></td>
        <td><%= gadget.owner.string %></td>
        <td><%= gadget.bonus_health.integer %></td>
        <td><%= gadget.bonus_power.integer %></td>
        <td><%= gadget.equipped.integer %></td>
        <td><%= link_to 'Show', gadget %></td>
        <td><%= link_to 'Edit', edit_gadget_path(gadget) %></td>
        <td><%= link_to 'Destroy', gadget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gadget', new_gadget_path %>
