<p id="notice"><%= notice %></p>

<p>
  <strong>Name.string:</strong>
  <%= @gadget.name.string %>
</p>

<p>
  <strong>Owner.string:</strong>
  <%= @gadget.owner.string %>
</p>

<p>
  <strong>Bonus health.integer:</strong>
  <%= @gadget.bonus_health.integer %>
</p>

<p>
  <strong>Bonus power.integer:</strong>
  <%= @gadget.bonus_power.integer %>
</p>

<p>
  <strong>Equipped.integer:</strong>
  <%= @gadget.equipped.integer %>
</p>

<%= link_to 'Edit', edit_gadget_path(@gadget) %> |
<%= link_to 'Back', gadgets_path %>
