<!DOCTYPE html>

<html>

<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    .form {
      margin: auto;
      margin-top: 250px;
      width: 188px;
      height: 134px;
    }

    p {
      color: #ff3535;
      margin: auto;
      width: 188px;
    }

    body {
      background: #142f5b;
    }
  </style>
</head>

<body>
  <div class="form form_group has-danger">
    <%= form_for :user do |u| %>
      <%= u.text_field :username, placeholder: "Username", class: "form-control form-control-danger"%> <br>
      <%= u.email_field :email, placeholder: "Email", class: "form-control form-control-danger"%> <br>
      <%= u.password_field :password, placeholder: "Password", class: "form-control form-control-dange" %> <br>
      <% if @state == 1 %>
        <p >Please fill all fields before submiting.</p><br>
      <% end %>
      <% if @state == 2 %>
        <p >This Username or Email address are already taken.</p><br>
      <% end %>
      <%= u.submit "Sign Up" %>
    <% end %>
  </div>
</body>

</html>
